* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin-bottom: 3px;
}

.item {
    background-color: rgb(18, 91, 187);
    
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: white;
}

.nested {
    background-color: green;
    align-self: center;
}    
