* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    background-color: rgb(18, 91, 187);  
    border: 1px solid white;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: white;
}

.nested {
    background-color: green;
    align-self: center;
}    

#padding-top {
    padding-top: 100px;
}

.height {
    height: 50px;
}